@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Josefin+Sans:wght@300;400&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #FFFFFF;
    --cor-hover: #FFFFFF;

    --fonte-primaria: 'Alegreya Sans', sans-serif;
    --fonte-secundaria: 'Josefin Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}


.cabecalho {
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-primaria);
    border-bottom: 2px solid var(--cor-secundaria);
}

.grow:hover {
    -xpedu-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.6s;
}

.cabecalho__links {
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
}

.cabecalho__links:hover {
    transition: 0.3s;
    text-shadow: 0 0 20px #fff;
    transition: text-shadow, color 0.3s;
    color: #555;
}

.cabecalho__links__1 {
    display: flex;
    background-color: #25D366;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
    padding: 10px;
    transition: 0.6s;
}

.cabecalho__links__1:hover {
    background-color: #77e36f;
    color: var(--cor-primaria);
}

.apresentacao {
    display: flex;
    align-items: center;
    gap: 40px;
}

.apresentacao__conteudo {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    width: 70%;
    flex-grow: 0;
    padding: 5% 0% 30% 5%;
}

.apresentacao__titulo {
    display: flex;
    justify-content: flex-start;
    font-family: var(--fonte-primaria);
    font-size: 2.5rem;
    color: var(--cor-secundaria);
}

.apresentacao__paragrafo {
    font-family: var(--fonte-secundaria);
    font-size: 2rem;
    color: var(--cor-secundaria);
    font-weight: 200;
}

.div__section {
    display: flex;
    justify-content: flex-end;
    padding: 0 5% 0 0;
}

.apresentacao__side__bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 30%;
    text-align: center;
    padding: 2% 5% 2% 5%;
    border: 2px solid var(--cor-secundaria);
    border-radius: 5px;
    background-color: var(--cor-primaria);
}

.subtitulo__side__bar {
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
}

.paragrafo__side__bar {
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 200;
    font-size: 1rem;
}

.rodape {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    background: var(--cor-primaria);
    align-items: center;
    border-top: 2px solid var(--cor-secundaria);
}

.rodape__paragrafo {
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
}

@media only screen and (max-width: 600px) {
    .apresentacao {
        flex-direction: column;
    }

    .apresentacao__conteudo {
        width: 90%;
        padding: 5%
    }

    .div__section {
        justify-content: center;
        padding: 0;
    }

    .apresentacao__side__bar {
        width: 80%;
        padding: 5%;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .subtitulo__side__bar {
        font-size: 1.2rem;
    }

    .paragrafo__side__bar {
        font-size: 1rem;
    }
}